.button {
  background: $primary-background-450;
  color: $white;
  width: 100%;
  margin: 0.5rem 0;
  font-size: $h4-font-size;
  padding: 0.75rem;
  @include text-center;
  &__group {
    @include flex(row-reverse, space-between);
    a {
      @include tablet {
        height: 100%;
      }
    }
  }
  &--important {
    background: $button-important;
    color: $white;
  }
  &--contact {
    background: $button;
    @include tablet {
      height: 100%;
    }
    @include flex;
  }
  &--facebook {
    background: $facebook;
  }
  &--instagram {
    background: $instagram;
  }
  &--linkedin {
    background: $linkedin;
  }
  span {
    padding-left: 1rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
