.hamburger {
  background: transparent;
  border: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  @include flex(column, space-around);
  @include tablet {
    display: none;
  }
  div {
    width: 2rem;
    height: 0.25rem;
    background: $white;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    @for $i from 1 to 3 {
      &:nth-child(#{$i}) {
        @if $i == 2 {
          transform: translateX(0);
          opacity: 1;
        } @else {
          transform: rotate(0);
        }
      }
    }
  }
  &--open {
    div {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
        width: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
