.main {
<<<<<<< Updated upstream
  padding-top: 5rem;
  @include flex(column, $align: center);
=======
  padding: 5rem 1rem 0;
  @include flex(column);
  @include tablet-desktop {
    padding: 5rem;
  }
  @include desktop {
    padding: 5rem 15rem 3rem;
  }
>>>>>>> Stashed changes
  &--index {
    height: 100vh;
    @include flex(column, center);
    @include padding;
    > * {
      margin: 0.5rem 0;
      @include tablet-desktop {
        width: 50%;
      }
      @include desktop {
        width: 40%;
      }
    }
  }
<<<<<<< Updated upstream
=======
  &--projects {
    @include tablet {
      display: grid;
    }
    @include tablet-desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
>>>>>>> Stashed changes
}
