.main {
  padding-top: 5rem;
  @include flex(column, $align: center);
  &--index {
    height: 100vh;
    @include flex(column, center);
    @include padding;
    > * {
      margin: 0.5rem 0;
      @include tablet-desktop {
        width: 50%;
      }
      @include desktop {
        width: 40%;
      }
    }
  }
  &--projects {
    @include tablet {
      display: grid;
    }
    @include tablet-desktop {
      grid-template-columns: repeat(2, 1fr);
      padding: 5rem;
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      padding: 5rem 15rem;
    }
  }
}
