* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: $secondary-background;
}
section {
  @include flex(column);
  @include padding;
  @media (min-width: $tablet-width) {
    padding: 4rem 6rem;
  }
}

.text-center {
  text-align: center;
}
