body {
  color: $primary-font;
  font-family: $base-font-family;
}
h1,
h2,
h3,
h4 {
  font-weight: 450;
  margin: 0.25rem 0;
}
h2,
h3,
h4,
a,
button {
  font-family: $heading-font-family;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4,
a,
button {
  font-size: $h4-font-size;
}
a {
  text-decoration: none;
  color: $primary-font;
}
input {
  font-family: $base-font-family;
  font-size: 1rem;
}
