//color variables
$white: #fff;
$black: #212121;
$primary-background-150: #7db9ff;
$primary-background-450: #185daf;
$facebook: #1877f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$button: #8590aa;
$button-important: #a20202;
