//variables

//font families
$base-font-family: "Gruppo", cursive, "Lato", "Trebuchet MS", "Avenir",
  "Segoe UI", sans‑serif;
//font sizes
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
//media widths
$tablet-width: 768px;
$desktop-width: 1024px;
