//variables

//font families
$display-font-family: "Cinzel Decorative", cursive;
$heading-font-family: "Cinzel", serif;
$base-font-family: "Raleway", "Trebuchet MS", "Avenir", "Segoe UI", sans‑serif;

//font sizes
$h1-font-size: 4.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.25rem;

//media widths
$tablet-width: 768px;
$desktop-width: 1024px;
